// цвета
$white: #ffffff;
$black: #000000;
$dark: #1E1E20;
$darkBg: #1D1D1F;
$greyDark: #1C1C1F;
$greyLight: #BCBCBC;
$disabled: #969696;
$link: #80BEEA;
$accent: #5700E5;
$blueAccent: #00F0FF;
$pinkAccent: #FF00B5;
$shadowColor: #740BA057;

// шрифты
$firstFont: 'MuseoSansCyrl', sans-serif;